{% extends '::base.html.twig' %}
{% block title %}Forms!{% endblock %}
{% block body %}
    <h1>создание формы</h1>
    <form action="{{ path("add") }}" method="post">
        {{ form_widget(form) }}
        <button type="submit" value="Create" class="btn btn-success">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Создать
        </button>
    </form>

{% endblock %}