{% extends'::base.html.twig' %}
{% block body %}
    <table class="table table-hover">
    <tr>
    {% for task in tasks %}
        <td><a href="{{path('showTask',{'id':task.Id }) }} ">{{ task.Title }} </a></td>
            </tr>
    </table>
{% endfor %}
{% endblock %}