{% extends '::base.html.twig' %}
{% block title %}Вывод из Базы данных{% endblock %}
{% block body %}
    <h1>{{ task.getTitle() }}</h1>

    <p>{{ task.getDescription() }}</p>

    <small>Запись создана {{ task.getCreatedAt().format("Y-m-d H:i:s") }}</small>
        <hr/>
        <a href="{{ path('list') }}" class="btn btn-success">
        <i class="glyphicon glyphicon-circle-arrow-left"></i>
        Назад к списку
        </a>
{% endblock %}


